* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.caja {
    background-color: rgb(56, 56, 56);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: repeat(9, 13px);
    height: auto;
}

.caja>* {
    border: 1px solid rgb(56, 56, 56);
    text-align: center;
    grid-row: 4 / 7;
}

.item1 {
    background-color: orangered;
    width: 350px;
    margin-left: 30px;
    grid-row: 3 / 8;
}

.item2 {
    background-color: transparent;
    width: 0px;
    border: none;
}

.item3 {
    background-color: darkgray;
    margin-left: 5px;
    margin-right: 5px;
}

.item4 {
    background-color: darkgray;
    margin-left: 5px;
    margin-right: 5px;
}

.item5 {
    background-color: yellow;
    margin-left: 5px;
    margin-right: 20px;
}

.caja1 {
    background-color: rgb(42, 42, 42);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(26, 25px);
    height: auto;
}

.item6 {
    background-color: orangered;
    grid-row: 2 / 10;
    grid-column: 2 / 10;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.item6>* {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(80, 78, 78);
    color: black;
    text-decoration: none;
}

.item7 {
    background-color: whitesmoke;
    grid-row: 11;
    grid-column: 2 / 11;
}

.item8 {
    background-color: transparent;
    display: grid;
    grid-row: 12 / 15;
    grid-column: 2 / 12;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.item9 {
    background-color: darkgrey;
    grid-column: 1 / 12;
}

.item10 {
    background-color: transparent;
    grid-column: 1 / 12;
}

.item11 {
    background-color: yellow;
    grid-row: 16 / 22;
    grid-column: 2 / 6;
}

.item77 {
    background-color: whitesmoke;
    grid-row: 23;
    grid-column: 2 / 11;
}

.item88 {
    background-color: transparent;
    display: grid;
    grid-row: 24 / 27;
    grid-column: 2 / 12;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.caja-derecha {
    background-color: rgb(91, 91, 91);
    display: grid;
    grid-row: 1 / span 26;
    grid-column: 13 / 20;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(53, 12px);
}

.item12 {
    background-color: gray;
    grid-row: 3 / 6;
    grid-column: 2 / 12;
}

.item13 {
    background-color: rgb(54, 54, 54);
    grid-row: 7 / 9;
    grid-column: 2 / 11;
}

.item14 {
    background-color: rgb(54, 54, 54);
    grid-row: 10 / 12;
    grid-column: 2 / 11;
}

.item15 {
    background-color: rgb(54, 54, 54);
    grid-row: 13 / 15;
    grid-column: 2 / 8;
}

.item122 {
    background-color: gray;
    grid-row: 16 / 19;
    grid-column: 2 / 12;
}

.item133 {
    background-color: rgb(54, 54, 54);
    grid-row: 20 / 22;
    grid-column: 2 / 11;
}

.item144 {
    background-color: rgb(54, 54, 54);
    grid-row: 23 / 25;
    grid-column: 2 / 11;
}

.item155 {
    background-color: rgb(54, 54, 54);
    grid-row: 26 / 28;
    grid-column: 2 / 8;
}

.item1222 {
    background-color: gray;
    grid-row: 29 / 32;
    grid-column: 2 / 12;
}

.item1333 {
    background-color: rgb(54, 54, 54);
    grid-row: 33 / 35;
    grid-column: 2 / 11;
}

.item1444 {
    background-color: rgb(54, 54, 54);
    grid-row: 36 / 38;
    grid-column: 2 / 11;
}

.item1555 {
    background-color: rgb(54, 54, 54);
    grid-row: 39 / 41;
    grid-column: 2 / 8;
}

.item12222 {
    background-color: gray;
    grid-row: 42 / 45;
    grid-column: 2 / 12;
}

.item13333 {
    background-color: rgb(54, 54, 54);
    grid-row: 46 / 48;
    grid-column: 2 / 11;
}

.item14444 {
    background-color: rgb(54, 54, 54);
    grid-row: 49 / 51;
    grid-column: 2 / 11;
}

.item15555 {
    background-color: rgb(54, 54, 54);
    grid-row: 52 / 54;
    grid-column: 2 / 8;
}

@media all and (max-width: 500px) {
    .item1 {
        grid-column: 1 / span 5;
        grid-row: 1 / span 4;
        margin: 0;
        width: auto;
    }
    .item3 {
        grid-column: 1 / span 5;
        grid-row: 5 / span 4;
        margin: 0;
    }
    .item4 {
        grid-column: 1 / span 5;
        grid-row: 9 / span 4;
        margin: 0;
    }
    .item5 {
        grid-column: 1 / span 5;
        grid-row: 13 / span 4;
        margin: 0;
    }
    .item2 {
        grid-column: 1 / span 5;
        grid-row: 5 / span 4;
        margin: 0;
        height: 0;
    }
    .caja-derecha {
        grid-column: 1 / 21;
        grid-row: 35 / span 52;
    }
    .caja {
        grid-template-rows: repeat(17, 15px);
    }
    .item6 {
        grid-column: 1 / span 20;
    }
    .item7 {
        grid-column: 2 / 20;
    }
    .item8 {
        grid-column: 2 / 20;
    }
    .item11 {
        grid-column: 4 / 18;
    }
    .item77 {
        grid-column: 2 / 20;
    }
    .item88 {
        grid-column: 2 / 20;
    }
}