* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.caja {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(35, 25px);
}

.item1 {
    background-color: transparent;
    grid-row: 3 / 6;
    grid-column: 3 / 18;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(5, auto);
}

.item2 {
    background-color: rgb(53, 53, 53);
    grid-row: 1 / 3;
    grid-column: 1 / 15;
}

.item3 {
    background-color: rgb(108, 108, 108);
    grid-row: 4;
    grid-column: 1 / 20;
}

.item4 {
    background-color: rgb(255, 0, 17);
    grid-row: 6 / 24;
    grid-column: 3 / 29;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid #ffffff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.item4>* {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(80, 78, 78);
    color: black;
    text-decoration: none;
}

.caja1 {
    background-color: transparent;
    grid-row: 24 / 26;
    grid-column: 3 / 29;
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(7, auto);
}

.progress {
    grid-row: 5 / 7;
    grid-column: 1 / 16;
    background-color: gray;
}

.progress-bar-animated {
    background-color: rgb(255, 0, 0);
}

.caja2 {
    background-color: transparent;
    grid-row: 27 / 36;
    grid-column: 3 / 15;
    display: grid;
    grid-template-rows: repeat(13, auto);
    grid-template-columns: repeat(20, auto);
}

.caja3 {
    background-color: transparent;
    grid-row: 27 / 36;
    grid-column: 17 / 29;
    display: grid;
    grid-template-rows: repeat(13, auto);
    grid-template-columns: repeat(20, auto);
}

.item5 {
    background-color: rgb(134, 134, 134);
    grid-row: 1 / 3;
    grid-column: 1 / 15;
}

.item6 {
    background-color: rgb(83, 83, 83);
    grid-row: 4;
    grid-column: 1 / 21;
}

.item7 {
    background-color: rgb(83, 83, 83);
    grid-row: 6;
    grid-column: 1 / 21;
}

.item8 {
    background-color: rgb(83, 83, 83);
    grid-row: 8;
    grid-column: 1 / 21;
}

.item9 {
    background-color: rgb(83, 83, 83);
    grid-row: 10;
    grid-column: 1 / 21;
}

.item10 {
    background-color: rgb(83, 83, 83);
    grid-row: 12;
    grid-column: 1 / 13;
}

@media all and (max-width: 500px) {
    .item1 {
        grid-column: 1 / span 30;
    }
    .item2 {
        grid-column: 1 / span 30;
    }
    .item3 {
        grid-column: 1 / span 30;
    }
    .triangulo {
        width: 0;
        height: 0;
        border-left: 24px solid #ffffff;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
    }
    .caja2 {
        grid-column: 1 / span 30;
    }
    .caja3 {
        grid-column: 1 / span 30;
        grid-row: 37 / 46;
    }
}