* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.caja {
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(15, 6px);
}

.item1 {
    background-color: black;
    grid-row: 1 / 3;
    grid-column: 1 / 31;
}

.item2 {
    background-color: white;
    grid-row: 7 / 11;
    grid-column: 21 / 24;
}

.item3 {
    background-color: orange;
    grid-row: 7 / 11;
    grid-column: 29 / 30;
}

.item4 {
    background-color: white;
    grid-row: 7 / 11;
    grid-column: 25 / 28;
}

.item5 {
    background-color: darkgray;
    grid-row: 7 / 11;
    grid-column: 19 / 20;
}

.item6 {
    background-color: darkgray;
    grid-row: 7 / 11;
    grid-column: 17 / 18;
}

.caja1 {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(50, 15px);
}

.espacioiz {
    background-color: rgb(44, 44, 44);
    grid-row: 42 / 51;
    grid-column: 1 / 3;
}

.espaciode {
    background-color: rgb(44, 44, 44);
    grid-row: 42 / 51;
    grid-column: 29 / 31;
}

.espaciotop {
    background-color: rgb(44, 44, 44);
    grid-row: 42;
    grid-column: 3 / 29;
}

.caja2 {
    background-color: transparent;
    display: grid;
    grid-row: 3 / 40;
    grid-column: 2 / 13;
    grid-template-rows: repeat(41, auto);
    grid-template-columns: repeat(20, auto);
}

.item7 {
    background-color: rgb(42, 42, 42);
    grid-row: 1 / 18;
    grid-column: 3 / 18;
    display: grid;
    grid-template-rows: repeat(15, auto);
    grid-template-columns: repeat(10, auto);
}

.item8 {
    background-color: rgb(42, 42, 42);
    grid-row: 22 / 42;
    grid-column: 3 / 18;
    display: grid;
    grid-template-rows: repeat(15, auto);
    grid-template-columns: repeat(10, auto);
}

.item9 {
    background-color: orange;
    display: grid;
    grid-row: 18 / 22;
    grid-column: 2 / 19;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(13, auto);
}

.item18 {
    background-color: rgb(255, 136, 0);
    grid-row: 19 / 21;
    grid-column: 19;
}

.item10 {
    background-color: gray;
    grid-row: 4 / 7;
    grid-column: 3 / 12;
}

.item11 {
    background-color: gray;
    grid-row: 2;
    grid-column: 2 / 10;
}

.item12 {
    background-color: gray;
    grid-row: 4;
    grid-column: 2 / 10;
}

.item13 {
    background-color: gray;
    grid-row: 6;
    grid-column: 2 / 10;
}

.item14 {
    background-color: gray;
    grid-row: 8;
    grid-column: 2 / 10;
}

.item15 {
    background-color: gray;
    grid-row: 10;
    grid-column: 2 / 10;
}

.item16 {
    background-color: gray;
    grid-row: 12;
    grid-column: 2 / 10;
}

.item17 {
    background-color: gray;
    grid-row: 14;
    grid-column: 2 / 10;
}

.caja3 {
    background-color: transparent;
    display: grid;
    grid-row: 3 / 40;
    grid-column: 13 / 30;
    grid-template-rows: repeat(40, auto);
    grid-template-columns: repeat(30, auto);
}

.item19 {
    background-color: gray;
    grid-row: 1 / 23;
    grid-column: 5 / 27;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.item19>* {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(80, 78, 78);
    color: black;
    text-decoration: none;
}

.item20 {
    background-color: transparent;
    grid-row: 9 / 12;
    grid-column: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangulo {
    width: 0;
    height: 0;
    border-right: 22px solid #fff;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.item21 {
    background-color: transparent;
    grid-row: 9 / 12;
    grid-column: 27 / 29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangulo1 {
    width: 0;
    height: 0;
    border-left: 22px solid #fff;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.caja4 {
    background-color: transparent;
    display: grid;
    grid-row: 25 / 41;
    grid-column: 5 / 27;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.item29 {
    background-color: orangered;
    grid-row: 1 / 5;
    grid-column: 1 / 5;
}

.item30 {
    background-color: orangered;
    grid-row: 1 / 5;
    grid-column: 6 / 10;
}

.item31 {
    background-color: orangered;
    grid-row: 1 / 5;
    grid-column: 11 / 15;
}

.item33 {
    background-color: transparent;
    grid-row: 5 / 8;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.item333 {
    background-color: transparent;
    grid-row: 1 / 8;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.item34 {
    background-color: white;
    grid-row: 2;
    grid-column: 1 / 9;
}

.item35 {
    background-color: gray;
    grid-row: 4;
    grid-column: 1 / 9;
}

.item36 {
    background-color: gray;
    grid-row: 6;
    grid-column: 3 / 7;
}

.item344 {
    background-color: gray;
    grid-row: 1;
    grid-column: 1 / 9;
}

.item335 {
    background-color: gray;
    grid-row: 3;
    grid-column: 1 / 9;
}

.item336 {
    background-color: gray;
    grid-row: 9;
    grid-column: 3 / 7;
}

.item337 {
    background-color: gray;
    grid-row: 5;
    grid-column: 1 / 9;
}

.item338 {
    background-color: gray;
    grid-row: 7;
    grid-column: 1 / 9;
}

.item37 {
    background-color: transparent;
    grid-row: 5 / 8;
    grid-column: 6 / 10;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.item377 {
    background-color: transparent;
    grid-row: 1 / 8;
    grid-column: 6 / 10;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.item38 {
    background-color: transparent;
    grid-row: 5 / 8;
    grid-column: 11 / 15;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.item388 {
    background-color: transparent;
    grid-row: 1 / 8;
    grid-column: 11 / 15;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.item399 {
    background-color: transparent;
    grid-row: 1 / 8;
    grid-column: 16 / 20;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.caja5 {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-row: 43 / 51;
    grid-column: 3 / 29;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

@media all and (max-width: 500px) {
    .caja1 {
        background-color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: repeat(108, 15px);
    }
    .espaciode {
        background-color: transparent;
        grid-row: 1;
        grid-column: 1;
    }
    .espacioiz {
        background-color: transparent;
        grid-row: 1;
        grid-column: 1;
    }
    .espaciotop {
        background-color: rgb(44, 44, 44);
        grid-column: 1 / span 30;
        grid-row: 78;
    }
    .item1 {
        background-color: black;
        grid-row: 1 / 3;
        grid-column: 1 / 31;
    }
    .item2 {
        background-color: white;
        grid-row: 7 / 11;
        grid-column: 19 / 26;
    }
    .item3 {
        background-color: orange;
        grid-row: 7 / 11;
        grid-column: 27 / 30;
    }
    .item4 {
        background-color: white;
        grid-row: 7 / 11;
        grid-column: 10 / 17;
    }
    .item5 {
        background-color: darkgray;
        grid-row: 7 / 11;
        grid-column: 6 / 9;
    }
    .item6 {
        background-color: darkgray;
        grid-row: 7 / 11;
        grid-column: 2 / 5;
    }
    .caja2 {
        grid-column: 1 / span 30;
    }
    .caja3 {
        grid-column: 1 / span 30;
        grid-row: 41 / 78;
    }
    .caja4 {
        grid-column: 1 / span 30;
    }
    .caja5 {
        grid-row: 79 / span 30;
        grid-column: 1 / span 30;
        display: grid;
        grid-template-columns: repeat(30, auto);
        grid-template-rows: repeat(3, auto);
    }
    .item333 {
        grid-column: 5 / 27;
        grid-row: 1;
    }
    .item377 {
        grid-column: 5 / 27;
        grid-row: 2;
    }
    .item388 {
        grid-column: 5 / 27;
        grid-row: 3;
    }
    .item399 {
        grid-column: 5 / 27;
        grid-row: 4;
    }
}