* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.caja {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(30, auto);
    grid-template-rows: repeat(55, 15px);
}

.caja1 {
    background-color: transparent;
    grid-row: 2 / 7;
    grid-column: 2 / 14;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(7, auto);
}

.item1 {
    background-color: orangered;
    grid-row: 1 / 3;
    grid-column: 1 / 8;
}

.item2 {
    background-color: #fff;
    grid-row: 5;
    grid-column: 1 / 11;
}

.item3 {
    background-color: #fff;
    grid-row: 7;
    grid-column: 1 / 11;
}

.caja2 {
    background-color: transparent;
    grid-row: 8 / 42;
    grid-column: 2 / 8;
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(20, auto);
}

.item4 {
    background-color: rgb(118, 118, 118);
    grid-row: 1 / 7;
    grid-column: 1 / 16;
}

.item5 {
    background-color: rgb(118, 118, 118);
    grid-row: 8 / 14;
    grid-column: 1 / 16;
}

.item6 {
    background-color: rgb(118, 118, 118);
    grid-row: 15 / 21;
    grid-column: 1 / 16;
}

.caja3 {
    background-color: transparent;
    grid-row: 8 / 42;
    grid-column: 9 / 30;
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(20, auto);
}

.caja3>* {
    display: grid;
    grid-template-columns: auto auto auto;
    color: black;
    text-decoration: none;
}

.item411 {
    background-color: rgb(51, 51, 51);
    grid-row: 1 / 7;
    grid-column: 1 / 16;
}

.item411>* {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.item511 {
    background-color: rgb(51, 51, 51);
    grid-row: 8 / 14;
    grid-column: 1 / 16;
}

.item511>* {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.item611 {
    background-color: rgb(51, 51, 51);
    grid-row: 15 / 21;
    grid-column: 1 / 16;
}

.item611>* {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.caja4 {
    background-color: transparent;
    grid-column: 18 / 30;
    grid-row: 43 / 46;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.item7 {
    background-color: gray;
    grid-row: 1;
}

.item8 {
    background-color: gray;
    grid-row: 3;
}

.item333 {
    background-color: transparent;
    grid-row: 1 / 8;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

.item344 {
    background-color: rgb(255, 132, 0);
    grid-row: 1 / 3;
    grid-column: 1 / 9;
}

.item335 {
    background-color: gray;
    grid-row: 4;
    grid-column: 1 / 9;
}

.item336 {
    background-color: gray;
    grid-row: 10;
    grid-column: 3 / 7;
}

.item337 {
    background-color: gray;
    grid-row: 8;
    grid-column: 1 / 9;
}

.item338 {
    background-color: gray;
    grid-row: 6;
    grid-column: 1 / 9;
}

.item377 {
    background-color: transparent;
    grid-row: 1 / 8;
    grid-column: 6 / 10;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

.item388 {
    background-color: transparent;
    grid-row: 1 / 8;
    grid-column: 11 / 15;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

.item399 {
    background-color: transparent;
    grid-row: 1 / 8;
    grid-column: 16 / 20;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}

.caja5 {
    background-color: rgb(44, 44, 44);
    display: grid;
    grid-row: 48 / 56;
    grid-column: 3 / 29;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

.espacioiz {
    background-color: rgb(44, 44, 44);
    grid-row: 47 / 56;
    grid-column: 1 / 3;
}

.espaciode {
    background-color: rgb(44, 44, 44);
    grid-row: 47 / 56;
    grid-column: 29 / 31;
}

.espaciotop {
    background-color: rgb(44, 44, 44);
    grid-row: 47;
    grid-column: 3 / 29;
}

@media all and (max-width: 500px) {
    .caja {
        background-color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns: repeat(30, auto);
        grid-template-rows: repeat(90, 15px);
    }
    .caja1 {
        grid-column: 1 / span 30;
    }
    .caja2 {
        grid-row: 8 / 23;
        grid-column: 4 / 29;
    }
    .caja3 {
        grid-row: 25 / span 30;
        grid-column: 1 / span 30;
    }
    .caja4 {
        grid-row: 56 / 59;
        grid-column: 1 / span 30;
    }
    .espaciode {
        background-color: transparent;
        grid-row: 1;
        grid-column: 1;
    }
    .espacioiz {
        background-color: transparent;
        grid-row: 1;
        grid-column: 1;
    }
    .espaciotop {
        background-color: rgb(44, 44, 44);
        grid-column: 1 / span 30;
        grid-row: 60;
    }
    .caja5 {
        grid-row: 61 / span 30;
        grid-column: 1 / span 30;
        display: grid;
        grid-template-columns: repeat(30, auto);
        grid-template-rows: repeat(3, auto);
    }
    .item333 {
        grid-column: 5 / 27;
        grid-row: 1;
    }
    .item377 {
        grid-column: 5 / 27;
        grid-row: 2;
    }
    .item388 {
        grid-column: 5 / 27;
        grid-row: 3;
    }
    .item399 {
        grid-column: 5 / 27;
        grid-row: 4;
    }
}