* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.caja {
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(15, 6px);
}

.item1 {
    background-color: black;
    grid-row: 1 / 3;
    grid-column: 1 / 31;
}

.item2 {
    background-color: white;
    grid-row: 7 / 11;
    grid-column: 21 / 24;
}

.item3 {
    background-color: orange;
    grid-row: 7 / 11;
    grid-column: 29 / 30;
}

.item4 {
    background-color: white;
    grid-row: 7 / 11;
    grid-column: 25 / 28;
}

.item5 {
    background-color: darkgray;
    grid-row: 7 / 11;
    grid-column: 19 / 20;
}

.item6 {
    background-color: darkgray;
    grid-row: 7 / 11;
    grid-column: 17 / 18;
}

.caja1 {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(30, auto);
    grid-template-rows: repeat(50, 15px);
}

.item7 {
    background-color: rgb(92, 92, 92);
    grid-row: 3 / 30;
    grid-column: 2 / 30;
    display: grid;
    grid-template-rows: repeat(15, auto);
    grid-template-columns: repeat(20, auto);
}

.item8 {
    background-color: orange;
    grid-row: 8;
    grid-column: 14;
}

.item9 {
    background-color: rgb(247, 247, 247);
    grid-row: 8;
    grid-column: 7 / 14;
}

.item10 {
    background-color: orangered;
    grid-row: 33 / 49;
    grid-column: 2 / 9;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.item10>* {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(80, 78, 78);
    color: black;
    text-decoration: none;
}

.item11 {
    background-color: transparent;
    grid-row: 33 / 49;
    grid-column: 10 / 20;
    display: grid;
    grid-template-rows: repeat(20, auto);
    grid-template-columns: repeat(20, auto);
}

.item12 {
    background-color: transparent;
    grid-row: 33 / 49;
    grid-column: 22 / 30;
    display: grid;
    grid-template-rows: repeat(29, auto);
    grid-template-columns: repeat(30, auto);
}

.item20 {
    background: gray;
    grid-row: 1 / 10;
    grid-column: 1 / 9;
}

.item21 {
    background: gray;
    grid-row: 11 / 20;
    grid-column: 1 / 9;
}

.item22 {
    background: gray;
    grid-row: 21 / 30;
    grid-column: 1 / 9;
}

.item23 {
    background: transparent;
    grid-row: 1 / 10;
    grid-column: 10 / 31;
    display: grid;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(10, auto);
}

.item24 {
    background: transparent;
    grid-row: 11 / 20;
    grid-column: 10 / 31;
    grid-column: 10 / 31;
    display: grid;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(10, auto);
}

.item25 {
    background: transparent;
    grid-row: 21 / 30;
    grid-column: 10 / 31;
    grid-column: 10 / 31;
    display: grid;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(10, auto);
}

.item26 {
    background-color: rgb(219, 219, 219);
    grid-row: 1 / 3;
    grid-column: 1 / 11;
}

.item27 {
    background-color: gray;
    grid-row: 5;
    grid-column: 1 / 7;
}

.item28 {
    background-color: gray;
    grid-row: 7;
    grid-column: 1 / 4;
}

.item13 {
    background-color: rgb(236, 236, 236);
    grid-row: 1 / 3;
    grid-column: 1 / 21;
}

.item14 {
    background-color: rgb(108, 108, 108);
    grid-row: 4;
    grid-column: 1 / 21;
}

.item15 {
    background-color: rgb(108, 108, 108);
    grid-row: 6;
    grid-column: 1 / 21;
}

.item16 {
    background-color: rgb(108, 108, 108);
    grid-row: 8;
    grid-column: 1 / 21;
}

.item17 {
    background-color: rgb(108, 108, 108);
    grid-row: 10;
    grid-column: 1 / 21;
}

.item18 {
    background-color: rgb(108, 108, 108);
    grid-row: 12;
    grid-column: 1 / 15;
}

.item19 {
    background-color: rgb(108, 108, 108);
    grid-row: 20;
    grid-column: 1 / 16;
}

@media all and (max-width: 500px) {
    .item1 {
        background-color: black;
        grid-row: 1 / 3;
        grid-column: 1 / 31;
    }
    .item2 {
        background-color: white;
        grid-row: 7 / 11;
        grid-column: 19 / 26;
    }
    .item3 {
        background-color: orange;
        grid-row: 7 / 11;
        grid-column: 27 / 30;
    }
    .item4 {
        background-color: white;
        grid-row: 7 / 11;
        grid-column: 10 / 17;
    }
    .item5 {
        background-color: darkgray;
        grid-row: 7 / 11;
        grid-column: 6 / 9;
    }
    .item6 {
        background-color: darkgray;
        grid-row: 7 / 11;
        grid-column: 2 / 5;
    }
    .caja1 {
        background-color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: repeat(95, 15px);
    }
    .item9 {
        grid-row: 8;
        grid-column: 1 / 18;
    }
    .item8 {
        grid-row: 8;
        grid-column: 18 / 21;
    }
    .item10 {
        grid-row: 32 / 52;
        grid-column: 2 / 30;
    }
    .item11 {
        grid-row: 54 / 73;
        grid-column: 2 / 30;
    }
    .item12 {
        grid-row: 75 / 94;
        grid-column: 2 / 30;
    }
}