* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.caja {
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(15, 6px);
}

.item1 {
    background-color: black;
    grid-row: 1 / 3;
    grid-column: 1 / 31;
}

.item2 {
    background-color: white;
    grid-row: 7 / 11;
    grid-column: 21 / 24;
}

.item3 {
    background-color: orange;
    grid-row: 7 / 11;
    grid-column: 29 / 30;
}

.item4 {
    background-color: white;
    grid-row: 7 / 11;
    grid-column: 25 / 28;
}

.item5 {
    background-color: darkgray;
    grid-row: 7 / 11;
    grid-column: 19 / 20;
}

.item6 {
    background-color: darkgray;
    grid-row: 7 / 11;
    grid-column: 17 / 18;
}

.caja1 {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(30, auto);
    grid-template-rows: repeat(57, 15px);
}

.item7 {
    background-color: rgb(190, 190, 190);
    grid-row: 3 / 30;
    grid-column: 2 / 30;
    display: grid;
    grid-template-rows: repeat(15, auto);
    grid-template-columns: repeat(21, auto);
}

.item8 {
    background-color: rgb(46, 46, 46);
    grid-row: 14;
    grid-column: 14;
}

.item9 {
    background-color: rgb(247, 247, 247);
    grid-row: 14;
    grid-column: 12;
}

.item10 {
    background-color: rgb(46, 46, 46);
    grid-row: 14;
    grid-column: 10;
}

.item11 {
    background-color: rgb(46, 46, 46);
    grid-row: 14;
    grid-column: 8;
}

.item12 {
    background-color: transparent;
    grid-row: 3 / 6;
    grid-column: 2 / 7;
}

.item13 {
    background-color: transparent;
    grid-row: 7 / 10;
    grid-column: 2 / 7;
}

.item14 {
    background-color: transparent;
    grid-row: 11 / 14;
    grid-column: 2 / 7;
}

.item15 {
    background-color: transparent;
    grid-row: 3 / 6;
    grid-column: 9 / 14;
}

.item16 {
    background-color: transparent;
    grid-row: 7 / 10;
    grid-column: 9 / 14;
}

.item17 {
    background-color: transparent;
    grid-row: 11 / 14;
    grid-column: 9 / 14;
}

.item18 {
    background-color: transparent;
    grid-row: 3 / 6;
    grid-column: 16 / 21;
}

.item19 {
    background-color: transparent;
    grid-row: 7 / 10;
    grid-column: 16 / 21;
}

.item20 {
    background-color: transparent;
    grid-row: 11 / 14;
    grid-column: 16 / 21;
}

.item7>a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.caja2 {
    background-color: transparent;
    grid-row: 31 / 57;
    grid-column: 2 / 13;
    display: grid;
    grid-template-rows: repeat(32, auto);
    grid-template-columns: repeat(25, auto);
}

.item21 {
    background-color: orangered;
    grid-row: 1 / 3;
    grid-column: 1 / 26;
}

.item22 {
    background-color: darkgray;
    grid-row: 4;
    grid-column: 1 / 26;
}

.item23 {
    background-color: darkgray;
    grid-row: 6;
    grid-column: 1 / 26;
}

.item24 {
    background-color: darkgray;
    grid-row: 8;
    grid-column: 1 / 26;
}

.item25 {
    background-color: rgb(75, 75, 75);
    grid-row: 10 / 18;
    grid-column: 1 / 8;
}

.item26 {
    background-color: rgb(110, 110, 110);
    grid-row: 10 / 18;
    grid-column: 9 / 17;
}

.item27 {
    background-color: darkgray;
    grid-row: 10 / 18;
    grid-column: 18 / 26;
}

.item28 {
    background-color: darkgray;
    grid-row: 19;
    grid-column: 1 / 26;
}

.item29 {
    background-color: darkgray;
    grid-row: 21;
    grid-column: 1 / 26;
}

.item30 {
    background-color: darkgray;
    grid-row: 23;
    grid-column: 1 / 26;
}

.item31 {
    background-color: darkgray;
    grid-row: 25;
    grid-column: 1 / 26;
}

.item32 {
    background-color: darkgray;
    grid-row: 27;
    grid-column: 1 / 26;
}

.item33 {
    background-color: darkgray;
    grid-row: 29;
    grid-column: 1 / 26;
}

.item34 {
    background-color: darkgray;
    grid-row: 31;
    grid-column: 1 / 26;
}

.caja3 {
    background-color: transparent;
    grid-row: 36 / 56;
    grid-column: 17 / 30;
    display: grid;
    grid-template-rows: repeat(22, auto);
    grid-template-columns: repeat(25, auto);
}

.item41 {
    background-color: rgb(37, 37, 37);
    grid-row: 2;
    grid-column: 10 / 26;
}

.item42 {
    background-color: rgb(37, 37, 37);
    grid-row: 4;
    grid-column: 1 / 26;
}

.item43 {
    background-color: rgb(37, 37, 37);
    grid-row: 6;
    grid-column: 1 / 26;
}

.item44 {
    background-color: rgb(37, 37, 37);
    grid-row: 8;
    grid-column: 1 / 26;
}

.item45 {
    background-color: rgb(37, 37, 37);
    grid-row: 10;
    grid-column: 1 / 26;
}

.item46 {
    background-color: rgb(124, 124, 124);
    grid-row: 12 / 19;
    grid-column: 1 / 8;
}

.item47 {
    background-color: rgb(93, 93, 93);
    grid-row: 12 / 19;
    grid-column: 10 / 17;
}

.item48 {
    background-color: rgb(63, 63, 63);
    grid-row: 12 / 19;
    grid-column: 19 / 26;
}

.item49 {
    background-color: rgb(37, 37, 37);
    grid-row: 20;
    grid-column: 1 / 26;
}

.item50 {
    background-color: rgb(37, 37, 37);
    grid-row: 22;
    grid-column: 1 / 26;
}

@media all and (max-width: 500px) {
    .item1 {
        background-color: black;
        grid-row: 1 / 3;
        grid-column: 1 / 31;
    }
    .item2 {
        background-color: white;
        grid-row: 7 / 11;
        grid-column: 19 / 26;
    }
    .item3 {
        background-color: orange;
        grid-row: 7 / 11;
        grid-column: 27 / 30;
    }
    .item4 {
        background-color: white;
        grid-row: 7 / 11;
        grid-column: 10 / 17;
    }
    .item5 {
        background-color: darkgray;
        grid-row: 7 / 11;
        grid-column: 6 / 9;
    }
    .item6 {
        background-color: darkgray;
        grid-row: 7 / 11;
        grid-column: 2 / 5;
    }
    .caja1 {
        background-color: rgb(0, 0, 0);
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: repeat(78, 15px);
    }
    .caja2 {
        grid-column: 1 / span 30;
    }
    .caja3 {
        grid-row: 58 / 78;
        grid-column: 1 / span 30;
    }
}