* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.caja {
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(45, 25px);
}

.item1 {
    background-color: rgb(53, 53, 53);
    grid-row: 2 / 20;
    grid-column: 2 / 30;
    display: grid;
    grid-template-columns: repeat(30, auto);
    grid-template-rows: repeat(15, auto);
}

.item2 {
    background-color: transparent;
    grid-row: 3 / 14;
    grid-column: 16 / 29;
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(13, auto);
}

.item3 {
    background-color: rgb(0, 115, 255);
    grid-row: 2 / 15;
    grid-column: 2 / 15;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.item3>* {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(80, 78, 78);
    color: black;
    text-decoration: none;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid #ffffff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.item4 {
    background-color: gray;
    grid-column: 1 / 12;
    grid-row: 1 / 3;
}

.item5 {
    background-color: rgb(189, 189, 189);
    grid-column: 1 / 16;
    grid-row: 4;
}

.item6 {
    background-color: rgb(189, 189, 189);
    grid-column: 1 / 16;
    grid-row: 6;
}

.item7 {
    background-color: rgb(189, 189, 189);
    grid-column: 1 / 16;
    grid-row: 8;
}

.item8 {
    background-color: rgb(189, 189, 189);
    grid-column: 1 / 16;
    grid-row: 10;
}

.item9 {
    background-color: rgb(189, 189, 189);
    grid-column: 1 / 14;
    grid-row: 12;
}

.espacio {
    background-color: black;
    grid-row: 21 / 32;
    grid-column: 19 / 20;
}

.caja4 {
    background-color: transparent;
    display: grid;
    grid-row: 21 / 32;
    grid-column: 2 / 19;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.item29 {
    background-color: orangered;
    grid-row: 1 / 5;
    grid-column: 1 / 5;
}

.item30 {
    background-color: orangered;
    grid-row: 1 / 5;
    grid-column: 6 / 10;
}

.item31 {
    background-color: orangered;
    grid-row: 1 / 5;
    grid-column: 11 / 15;
}

.item33 {
    background-color: transparent;
    grid-row: 5 / 8;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.item34 {
    background-color: white;
    grid-row: 2;
    grid-column: 1 / 9;
}

.item35 {
    background-color: gray;
    grid-row: 4;
    grid-column: 1 / 9;
}

.item36 {
    background-color: gray;
    grid-row: 6;
    grid-column: 3 / 7;
}

.item37 {
    background-color: transparent;
    grid-row: 5 / 8;
    grid-column: 6 / 10;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.item38 {
    background-color: transparent;
    grid-row: 5 / 8;
    grid-column: 11 / 15;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.caja-derecha {
    background-color: rgb(32, 32, 32);
    display: grid;
    grid-row: 21 / span 26;
    grid-column: 20 / 30;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: repeat(51, 12px);
}

.item112 {
    background-color: gray;
    grid-row: 3 / 6;
    grid-column: 2 / 12;
}

.item113 {
    background-color: rgb(54, 54, 54);
    grid-row: 7 / 9;
    grid-column: 2 / 11;
}

.item114 {
    background-color: rgb(54, 54, 54);
    grid-row: 10 / 12;
    grid-column: 2 / 11;
}

.item115 {
    background-color: rgb(54, 54, 54);
    grid-row: 13 / 15;
    grid-column: 2 / 8;
}

.item1122 {
    background-color: gray;
    grid-row: 16 / 19;
    grid-column: 2 / 12;
}

.item1133 {
    background-color: rgb(54, 54, 54);
    grid-row: 20 / 22;
    grid-column: 2 / 11;
}

.item1144 {
    background-color: rgb(54, 54, 54);
    grid-row: 23 / 25;
    grid-column: 2 / 11;
}

.item1155 {
    background-color: rgb(54, 54, 54);
    grid-row: 26 / 28;
    grid-column: 2 / 8;
}

.item11222 {
    background-color: gray;
    grid-row: 29 / 32;
    grid-column: 2 / 12;
}

.item11333 {
    background-color: rgb(54, 54, 54);
    grid-row: 33 / 35;
    grid-column: 2 / 11;
}

.item11444 {
    background-color: rgb(54, 54, 54);
    grid-row: 36 / 38;
    grid-column: 2 / 11;
}

.item11555 {
    background-color: rgb(54, 54, 54);
    grid-row: 39 / 41;
    grid-column: 2 / 8;
}

.item112222 {
    background-color: gray;
    grid-row: 42 / 45;
    grid-column: 2 / 12;
}

.item113333 {
    background-color: rgb(54, 54, 54);
    grid-row: 46 / 48;
    grid-column: 2 / 11;
}

.item114444 {
    background-color: rgb(54, 54, 54);
    grid-row: 49 / 51;
    grid-column: 2 / 11;
}

.item115555 {
    background-color: rgb(54, 54, 54);
    grid-row: 52 / 54;
    grid-column: 2 / 8;
}

@media all and (max-width: 500px) {
    .item1 {
        grid-row: 1 / 28;
        grid-column: 1 / span 30;
    }
    .item2 {
        grid-row: 16 / 27;
        grid-column: 1 / span 30;
    }
    .item3 {
        grid-row: 2 / 15;
        grid-column: 1 / span 30;
    }
    .caja4 {
        grid-row: 29 / 50;
        grid-column: 1 / span 30;
        display: grid;
        grid-template-columns: repeat(30, auto);
        grid-template-rows: repeat(21, auto);
    }
    .item29 {
        grid-row: 1 / 7;
        grid-column: 2 / 12;
    }
    .item30 {
        grid-row: 8 / 14;
        grid-column: 2 / 12;
    }
    .item31 {
        grid-row: 15 / 21;
        grid-column: 2 / 12;
    }
    .item33 {
        grid-row: 15 / 21;
        grid-column: 14 / 30;
    }
    .item37 {
        grid-row: 8 / 14;
        grid-column: 14 / 30;
    }
    .item38 {
        grid-row: 1 / 7;
        grid-column: 14 / 30;
    }
    .espacio {
        grid-row: 1;
        grid-column: 1;
        background-color: transparent;
    }
    .caja-derecha {
        grid-column: 1 / span 30;
        grid-row: 81 / span 52;
    }
    .triangulo {
        width: 0;
        height: 0;
        border-left: 45px solid #ffffff;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}